@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

/*Esse import é para a fonte abaixo:

font-family: "Madimi One", sans-serif;
*/

body {
  background-color: #434047;
  font-family: "Madimi One", sans-serif;
}

.logo {
  width: 180px;
  margin-top: 10px;
  margin-left: 10px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
}

.barracima {
  display: flex;
}

.titulo {
  text-align: center;
  margin-left: 30%;
  margin-top: 50px;
  color: white;
}

.titulo h1 {
  font-size: 50px;
  letter-spacing: 6px;
}

.titulo p {
  letter-spacing: 2px;
}

.menulateral {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  margin-left: auto;
  font-size: 30px;
  padding: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
  height: 100vh;
  z-index: 1000;
}

.menulateral a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  padding-right: 20px;
}

.menulateral ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menulateral::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5%;
  height: 90%;
  width: 2px;
  background-color: rgba(204, 207, 219);
}

.iconeperfil,
.iconemigo,
.iconesocial,
.iconegrupos,
.iconeloja,
.iconeajustes {
  width: 70px;
  margin-bottom: 8px;
}

.blocoperfil {
  margin-bottom: 20px;
  margin-top: 20px;
}

.bordainferior {
  width: 80%;
  height: 2px;
  background-color: rgba(204, 207, 219);
  margin: 10px auto;
  margin-bottom: 70px;
}

main {
  position: relative; /* Necessário para o bambu se guiar por aqui */
  min-height: 100vh;
  z-index: 1;
}

.emdesenvolvimento {
  width: 600px;
  margin-left: 250px;
  margin-top: 50px;
}

.sombrinha {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
