@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

/*Esse import é para a fonte abaixo:

font-family: "Madimi One", sans-serif;
*/

body {
  background-color: #434047;
  font-family: "Madimi One", sans-serif;
  width: 100%;
}

.container {
  width: 82%;
  height: 100%;
  margin-left: 0;
}

.logo {
  width: 45%;
  margin-top: 10px;
  margin-left: 10px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
}

.barracima {
  display: flex;
  width: 82%;
  height: 10%;
}

.titulo {
  text-align: center;
  margin-left: 11%;
  margin-top: 3%;
  color: white;
}

.titulo h1 {
  font-size: 3em;
  letter-spacing: 6px;
}

.titulo p {
  letter-spacing: 2px;
}

.menulateral {
  position: fixed;
  top: 0;
  right: 0;
  width: 18%;
  margin-left: auto;
  font-size: 180%;
  padding: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
  height: 100%;
  z-index: 1000;
}

.menulateral a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  padding-right: 20px;
}

.menulateral ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menulateral::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5%;
  height: 90%;
  width: 2px;
  background-color: rgba(204, 207, 219);
}

.iconeperfil,
.iconemigo,
.iconesocial,
.iconegrupos,
.iconeloja,
.iconeajustes {
  width: 30%;
}

.blocoperfil {
  margin-bottom: 2%;
  margin-top: 8%;
}

.bordainferior {
  width: 80%;
  height: 0.3%;
  background-color: rgba(204, 207, 219);
  margin: 1% auto;
  margin-bottom: 20%;
}

.emdesenvolvimento {
  width: 40%;
  margin-left: 35%;
  margin-top: 1%;
}

.sombrinha {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.task {
  width: 45%;
  background-color: #f36769;
  color: #fff;
  margin-top: 5%;
  margin-left: 3%;
  border-radius: 10%;
  padding: 2%;
}

.task img {
  width: 15%;
  margin-top: 3%;
}

.horario {
  margin-top: 5%;
  text-align: center;
}